<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title th:text="#{label.form.title}"></title>
</head>
<body style="background-color: #5CD0FF;">
<!-- Navigation -->
<div th:insert="navigation :: copy"></div>


<!-- Main Content -->
<div class="container">
    <br>

    <div class="border bg-light rounded p-3">
        <div layout:fragment="content">
            <h1 th:text="#{label.form.title}">form</h1>
            <br>
            <form th:action="${action}" th:object="${workoutDto}" method="POST" enctype="utf8">
                <div class="mb-3 row">
                    <label for="InputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="InputName" th:field="*{name}"/>
                    </div>
                    <div class="col-sm-2">
                        <span class="badge bg-warning" th:each="error: ${#fields.errors('name')}"
                              th:text="${error}">Validation error</span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="InputName" class="col-sm-2 col-form-label">Beschreibung</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="InputDescription" th:field="*{description}" rows="3"></textarea >
                    </div>
                    
                </div>



                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary" href="/workout/create">Submit</button>
                </div>
            </form>


            <a th:href="@{/login.html}">login</a>
        </div>
    </div>


</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>