<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title th:text="#{label.form.title}"></title>
</head>
<body style="background-color: #5CD0FF;">
<!-- Navigation -->
<div th:insert="navigation :: copy"></div>


<!-- Main Content -->
<div class="container">
    <br>


    <div layout:fragment="content">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner bg-secondary rounded text-center p-5">
                <div class="carousel-item ">
                    <h1 th:text="${workout.getName()}"> Workout X</h1>
                </div>
                <div class="carousel-item active" th:each="excercise: ${workout.getExercises()}">
                    <h3 th:text="${exercise.getName()}"> Exercise X</h3>
                    <p>
                        <span th:if='${excercise.getDescription() != null && !excercise.getDescription().equals("")}'>
                        <span th:text="${excercise.getDescription()}">
                        </span>
                        </span>
                        <span th:unless='${excercise.getDescription() != null && !workout.getDescription().equals("")}'>
                        Create a short description for this workout!
                        </span>
                    </p>
                </div>
            </div>
            <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>


    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
