<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title th:text="#{label.form.title}"></title>
</head>
<body style="background-color: #5CD0FF;">
<!-- Navigation -->
<div th:insert="navigation :: copy"></div>


<!-- Main Content -->
<div class="container">
    <br>


    <div layout:fragment="content">
        <div class="border bg-light rounded p-3" >
            <h2 th:text="${exercise.name}">Dashboard</h2>

            <br>

            <p th:text="${exercise.description}">
                Bla Text
            </p>

        </div>
        <br>
        <div class="text-end">
            <div class="text-end" style="overflow: visible;">
                <button type="submit" class="btn btn-primary" href="/exercise?id=${exercise.getId()}/feature/create">New Exercise</button>
            </div>
        </div>
        <div class="accordion bg-light rounded" id="accordionExercises" >
            <div class="accordion-item workout" th:each="feature: ${exercise.getFeatures()}">
                <h2 class="accordion-header" id="headingOne">
                    <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:text="${feature.getName()}" >
                        Workout X

                    </a>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <span th:if='${feature.getDescription() != null && !feature.getDescription().equals("")}'>
                            <span th:text="${feature.getDescription()}">
                            </span>
                        </span>

                        <span th:unless='${feature.getDescription() != null && !exercise.getDescription().equals("")}'>
                            Create a short description for this workout!
                        </span>

                        <div class="text-end" style="overflow: visible;">
                            <a type="submit" class="btn btn-primary" th:href="/workout/create">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
