<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h1>Ricken</h1>
		
		<div sec:authorize="isAuthenticated()">
    		<span class="badge badge-dark" th:inline="text">Angemeldet als <span th:text="${#authentication.name}"></span></span>  
    	</div>
  
		<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5">
  			<a class="navbar-brand" href="#">Navbar</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarNav">
    			<ul class="navbar-nav">
      				<li class="nav-item">
        				<a class="nav-link" href="/">Home</a>
      				</li>
      				<li class="nav-item">
        			<a class="nav-link" href="/secure">Restricted</a>
      				</li>
    			</ul>
    			<ul class="nav navbar-nav navbar-right">
    				<li class="nav-item" sec:authorize="!isAuthenticated()">
    					<a class="nav-link" href="/login">Anmelden</a>
    				</li>
    				<li class="nav-item" sec:authorize="isAuthenticated()">
    					<a class="nav-link" href="/logout">Abmelden</a>
    				</li>
    			</ul>
  			</div>
		</nav>
	
		<div class="mt-3" layout:fragment="content"></div>
	</div>

</body>
</html>