<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title th:text="#{label.form.title}"></title>
</head>
<body style="background-color: #5CD0FF;">
<!-- Navigation -->
<div th:insert="navigation :: copy"></div>


<!-- Main Content -->
<div class="container">
    <br>
    <div class="border bg-light rounded p-3">
        <div layout:fragment="content">
            <h1>Anmelden</h1>
            <form th:action="@{/login}" method="post" class="card-text needs-validation" novalidate>
                <div th:if="${success}" class="alert alert-success" role="alert">Erfolgreich Angemeldet</div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Benutzername/E-Mail oder Passwort ist falsch.
                </div>
                <br >
                <div class="mb-3 row">
                    <label for="username" class="col-sm-2 col-form-label">Benutzername/E-Mail</label>
                    <div class="col-sm-10">
                        <input type="text" id="username" name="username" class="form-control" required tabindex="1" autofocus />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Passwort</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" name="password" class="form-control" required tabindex="2" />
                    </div>
                </div>
                <br>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
