<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #0280B3;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="#">Ricken</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Diary</a>
                </li>
            </ul>


        </div>
    </div>
</nav>