<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title >Dashboard</title>
</head>
<body style="background-color: #5CD0FF;">
<!-- Navigation -->
<div th:insert="navigation :: copy"></div>


<!-- Main Content -->
<div class="container">
    <br>


    <div layout:fragment="content">
        <div class="border bg-light rounded p-3">
            <h2>Dashboard</h2>


        </div>
        <br>
        <div class="text-end">
            <div class="text-end" style="overflow: visible;">
                <a class="btn btn-primary" href="/workout/create">New Workout</a>
            </div>
        </div>
        <div class="accordion bg-light rounded" id="accordionExercises" >
            <div class="accordion-item workout" th:each="workout: ${workouts}">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:text="${workout.getName()}" >
                        Workout X

                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <span th:if='${workout.getDescription() != null && !workout.getDescription().equals("")}'>
                        <span th:text="${workout.getDescription()}">
                        </span>
                        </span>
                        <span th:unless='${workout.getDescription() != null && !workout.getDescription().equals("")}'>
                        Create a short description for this workout!
                        </span>
                        <div class="text-end" style="overflow: visible;">
                            <a class="btn btn-primary" th:href="@{/workout/{id}/edit(id=${workout.getId()})}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
